main {
    margin: 0 auto;                                                 /*순서가 중요하다*/
    margin-top: calc(44px + 100px);                                 /*이렇게 주면, 헤더와 겹치지 않는다*/
    width: calc(100% - 100px * 2);
    max-width: 800px;
}

.title.flex-container {
    display: flex;
    justify-content: center;
    font-size: 2rem;
    column-gap: 40px;
    margin-bottom: 20px;
}

.weekday.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.5rem;
    text-align: center;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
}

.dates.container {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    font-size: 1.25rem;
    text-align: center;
    padding: 10px;
}

.date.item {
    padding: 10px;
    aspect-ratio: 1/1;                           /*1:1 비율*/
    display: grid;                               /*글자 수평, 수직 가운데로*/
    place-items: center;                         /*글자 수평, 수직 가운데로 : 첫번째 방법*/
    /*display: flex;                              글자 수평, 수직 가운데로*/
    /*justify-content: center;                    글자 수평, 수직 가운데로*/
    /*align-items: center;                        글자 수평, 수직 가운데로 : 두번째 방법*/
}

.date.item:nth-child(1) {
    grid-column: 6/7;                           /*얘가 이동하면서 다같이 밀릴려면 column만 주면 된다 row도 같이 주면 배치가 이상해짐*/
}

/*오늘 포커싱*/

.review.flex-container {
    display: flex;
    flex-direction: column;
    font-size: 1.25rem;
    row-gap: 10px;
    background-color: lightgreen;
    border-radius: 10px;
    padding: 10px;
}

/* delete me */
/* main * {
    border: 2px solid black;
} */

/*tablet*/
@media screen and (max-width: 720px) {

}

/*mobile*/
@media screen and (max-width: 540px) {
    main {
        margin-top: calc(44px + 40px);
        width: calc(100% - 10px * 2);
    }
}